.container {
    width: 100%;
    height: calc(100% - 38px);
    background-color: #121212;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: .4rem;
}

.content {
    margin-top: 20px;
}


@media screen and (max-width: 1115px) {
    .content_itens {
        padding: 10px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}


@media screen and (max-width: 840px) {
    .container {
        height: 108%;
    }
}