.container {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #000000b4;
    backdrop-filter: blur(4px);
    padding: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.content_top {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 40px;
    overflow-y: scroll;
}

.content_search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_search > form {
    width: 364px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 0 18px;
    border-radius: .4rem;
}

.content_search > form>input {
    padding: 10px;
    background-color: transparent;
    border: 0;
    color: #000000 !important;
    height: 48px;
    text-overflow: ellipsis;
    width: 100%;
    outline: none;

}

.icon_search {
    right: 0px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}
.icon_search > svg {
    width: 21px;
    height: 21px;
    fill: #929292;
}
.icon_search > svg:hover {
    position: absolute;
    width: 21px;
    height: 21px;
    fill: #000000;
}