.disclaimer_premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 12px 24px 8px 15px;
    margin: 0 8px 6px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disclaimer_premium .text {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.disclaimer_premium .disclaimer-premium_title {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.83rem;
    margin: 0;
}

.disclaimer_premium .disclaimer_premium_subtitle {
    color: #ffffff;
    font-size: 0.93rem;
    font-weight: 400;
    margin: 0;
}

.disclaimer_premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}

@media screen and (max-width: 840px) {
    .disclaimer_premium {
        padding: 8px;
        margin: 8px;
        display: none; /* mudar caso necessario */
    }
    .disclaimer_premium .disclaimer_premium_title {
        font-size: 10px;
    }
    .disclaimer_premium .disclaimer_premium_subtitle {
        font-size: 12px;
    }
    .button > button {
        background-color: #ffffff;
        color: #000000;
        font-size: 11px;
        font-weight: bold;
        border-radius: 40px;
    }
}

@media screen and (max-width: 795px) {
    .disclaimer_premium {
        display: none;
    }
}