.container {
    margin-top: 160px;
    width: 100%;
    height: auto;
    background: transparent;
    padding: 0px 32px 40px;
}


.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.section_itens {
    display: flex;
    width: 100%;
    gap: 100px;

}

.section {
    display: flex;
    flex-direction: column;
}

.section > label {
    font-weight: 800;
}

.section > a {
    color: #878787;
}




.td_social {
    display: flex;
    gap: 16px;
}
.social {
    background: #292929;
    width: 40px;
    height: 40px;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social:hover {
    background: #434343;
}
.social >svg {
    fill: white;
    width: 16px;
    height: 16px;
}


.content_nm {
    margin-top: 36px;
    border-top: 1px solid #5a5a5a;
    padding: 40px 0 60px 0;
}

.content_nm > span {
    font-size: 0.875rem;
    color: #878787;
}


@media screen and (max-width: 840px) {
    .section_itens {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 600px) {
    .section_itens {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 400px) {
    .content {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
}